@model IEnumerable<WebCommerce.Models.Classes.Produto>

<div id="ListProduto">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalhes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPromocao)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeDisponivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalhes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPromocao)
                </td>
                
                <td>

                    @{
                        @*if (User.IsInRole("Admin") | User.IsInRole("Edit"))*@

                        { @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <text> | </text>


                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                        <text> | </text>
                    }


                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id })


                </td>
                
            </tr>
        }

    </table>
</div>