@model IEnumerable<WebCommerce.Models.Classes.Produto>

<div id="ListProduto">


    <div class="row">
        @Html.Hidden("email", User.Identity.Name)
        @foreach (var item in Model)
        {
        <div class="col-md-3">
            @Html.Hidden("IdProduto", item.Id)
            @*<img src="img/noticia-thumb.jpg" alt="noticia">*@
            <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
            <h4>@Html.DisplayFor(modelItem => item.Categoria.Nome)</h4>
            <h4>@Html.DisplayFor(modelItem => item.Preco)</h4>
            <p>@Html.ActionLink("Detalhe do Produto", "Details", new { id = item.Id, idCcategoria = item.IdCategoria, idPromocao = item.IdPromocao })</p>
            <button type="button" id="Comprar" class="btn btn-success">Comprar</button>
            @if (User.IsInRole("Admin"))
            {
                <button type="button" id="Comprar" class="btn btn-danger">Excluir</button>
            }
        </div>
        }
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
		$(Comprar).click(function () {
			$.ajax(
				{
					type: 'GET',
					url: '/Produto/adicionarProdutoCarrinho',
					data: { idProduto: $('#IdProduto').val(), email: $('#email').val() },
					dataType: 'html',
					cache: false,
					async: true,
					sucess: null
				}
			)
		})
    </script>

}