
@*@model PagedList.IPagedList<WebCommerce.Models.Classes.Produto>*@
@model IEnumerable<WebCommerce.Models.Classes.Produto>

<div id="ListProduto">

    <div class="row">
        @Html.Hidden("email", User.Identity.Name)
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                @Html.Hidden("IdProduto", item.Id)
                @*<img src="img/noticia-thumb.jpg" alt="noticia">*@
                
                <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                <h4>@Html.DisplayFor(modelItem => item.Categoria.Nome)</h4>
                <h4>R$@Html.DisplayFor(modelItem => item.Preco)</h4>
                <p>@Html.ActionLink("Comprar", "Details", new { id = item.Id, idCategoria = item.IdCategoria, idPromocao = item.IdPromocao }, new { @class = "btn btn-success Comprar" })</p>
                @*<button type="button" id="Comprar" class="btn btn-success Comprar" onclick="ComprarProduto(@item.Id,@User.Identity.Name);">Comprar</button>*@
                @if (User.IsInRole("Admin"))
                {
                    <button type="button" id="Comprar" class="btn btn-danger">Excluir</button>
                }
            </div>
        }
    </div>
</div>

<body background="https://mastermindblumenau.com.br/wp-content/uploads/2016/07/background-azul.jpg">
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function ComprarProduto(idprod, idmail) {
            var idProduto = idprod;
            var idMail = idmail;
            var url = '/Produto/adicionarProdutoCarrinho';
            $.get(url, idProduto, idMail);

        }



    </script>

}