@model IEnumerable<WebCommerce.Models.Classes.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@if (User.IsInRole("Create"))*@
    {

    @Html.ActionLink("Create New", "Create")
    }

</p>

<p>@DateTime.Now</p>

<p>
    Pesquisar por nome:
    @using (Ajax.BeginForm("Index", "Produto", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ListProduto" }))
    {
        @Html.TextBox("Pesquisa")
        <input type="submit" value="Pesquisar" />
    }

     

</p>

@Html.Partial("_Produto", Model)


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    


    <script>
        $(function () {
            $("#Pesquisa").autocomplete({
                source: "/Produto/BuscarProduto"
            });
        });

    </script>
}

